### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "PyCitySchools_Resources_schools_complete (1).csv"
student_data_to_load = "PyCitySchools_Resources_students_complete (1).csv"
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])
print(school_data_complete)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [26]:
#total numbers of schools
schools=school_data['school_name'].count()
schools

15

In [27]:
#total number of students
students=len(student_data['student_name'])
students

39170

In [28]:
#total budget
budget=school_data['budget'].sum()
budget

24649428

In [29]:
#average math score
average_math=student_data['math_score'].mean()
average_math

78.98537145774827

In [30]:
#average reading score
average_reading_score = student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [31]:
#total of students with scores 70% or higher
math =student_data[(school_data_complete['math_score'] >70)].count()['student_name']
math

28356

In [32]:
#percent of passing students divided by total student body multiplied by 100
Passing_Math=math/students*100
Passing_Math

72.39213683941792

In [33]:
#Total students with reading scores 70% or higher
Reading= student_data[(student_data['reading_score'] >=70)].count()['student_name']
Reading

33610

In [34]:
#percent of students passing reading
Passing_reading=Reading/students*100
Passing_reading

85.80546336482001

In [35]:
(student_data[(student_data['reading_score'] >=70)].count())

Student ID       33610
student_name     33610
gender           33610
grade            33610
school_name      33610
reading_score    33610
math_score       33610
dtype: int64

In [36]:
overall= len(student_data[(student_data['math_score']>=70)&(student_data['reading_score']>=70)])
overall

25528

In [37]:
Percentage_overall=overall/students*100
Percentage_overall

65.17232575950983

In [38]:
data = {'Total number of schools': [school_data['school_name'].count() ],'Total budget':[school_data['budget'].sum()],
        'Total number of students': [student_data['Student ID'].count()],'Average Math Score':[student_data['math_score'].mean()],
        'Average Reading Score':[student_data['reading_score'].mean()],
        'Percent of Passing Math Scores':Passing_Math, 'Percent of Passing Reading Scores':[student_data['reading_score'].mean()],
        'Percent Passing Overall':Percentage_overall}
df = pd.DataFrame(data)
df

## School Summary

,Total number of schools,Total budget,Total number of students,Average Math Score,Average Reading Score,Percent of Passing Math Scores,Percent of Passing Reading Scores,Percent Passing Overall
0,15,24649428,39170,78.985371,81.87784,72.392137,81.87784,65.172326

#data_by_school = school_data_complete.groupby(["school_name", "type"]).agg({"student_ID": "sum"})
#df = pd.DataFrame(data_by_school)
#df
Data_summary=( school_data_complete.groupby(["school_name", "type","budget"]).agg({"Student ID": school_data["count"]},{"Budget":school_data["budget"]},{"Budget Per Student":student_data["budget/Student ID"]}))
Data_summary

Data = {'School': [school_data['school_name']],'School Type':[school_data['type']],
        'Total number of students': [student_data['Student ID']],'Total budget',
        'Per Student Budget':[student_data['budget']/[student_data['students']],
        'Average Math Score','Average Reading Score']}
Df = pd.DataFrame(Data)
Df

In [39]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [65]:
Name=school_data_complete['school_name']
Type=school_data_complete['type']
Students=school_data_complete['Student ID'].count()
Budget=school_data_complete['budget']
Student_Budget=budget/Students
Math_Score=school_data_complete
Reading_Score=school_data_complete
Passing_Math=school_data_complete['math_score'].mean()
Passing_Reading=school_data_complete['reading_score'].mean()
Passing_Overall=overall
Students

39170

In [73]:
School_Summary= pd.DataFrame({['School': Name, 'Type':Type , 'Students': Students, 'Average_Math _Score': Math_Score,'Average_Reading_Score':Reading_Score,'Percent_Passing_Math':Passing_Math,'Percent_Passing_Reading':Passing_Reading,'Percent_Passing_Overall':Passing_Overall]})
Df=School_Summary.groupby(school_data_complete['school_name'])
Df

SyntaxError: invalid syntax (<ipython-input-73-61f73e08af05>, line 1)

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type